@model ElExitoS.Models.ProductoViewModel

@{
    ViewData["Title"] = "Registrar Producto";
}

<h2 class="mb-3">Registrar producto</h2>

<form asp-action="Crear"
    method="post"
    enctype="multipart/form-data"
    class="row g-3">
    
    <div class="col-md-6">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <!--Imagen-->
    <div class="col-12">
        <label class="form-label">Imagen</label>
        <input asp-for="Imagen" type="file" class="form-control"/>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            Cancelar
        </a>
    </div>
</form>
