@model List<ElExitoS.Models.Producto>

@{
    ViewData["Title"] = "Todos los Productos";
}

<h2 class="mb-3">Productos Disponibles</h2>

<a asp-action="Crear" class="btn btn-success mb-3">
    Registrar nuevo producto
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>
                    <a asp-action="Detalle"
                    asp-route-itemid="@producto.Id"
                    class="btn btn-primary btn-sm">
                    Ver detalle
                </a>
                </td>
            </tr>
        }
    </tbody>
</table>